html {
	margin: 0px;
}

body {
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: black;
	height: 1800px;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
}

.parallax {
	position: absolute;
	overflow: hidden;
}
.parallax.floor {
	width: 100%;
	height: 786px;
	left: 0;
	top: 250px;
	background-image: url('https://ucarecdn.com/0f8cc77a-d43a-449b-b89f-f09a5f321d14/floornew.png');
	background-position: 50% 50%;
	background-repeat: repeat-x;
	overflow-x: hidden;
}
.parallax.layer:nth-of-type(2) {
	width: 100%;
	height: 201px;
	left: 50%;
	top: 290px;
	opacity: 0.5;
	transform: translateX(-50%);
	background-image: url(https://ucarecdn.com/2e109c0b-770d-4f4d-9e1c-5d9c948e2ea5/layer4new.png);
	overflow-x: hidden;
}
.parallax.layer:nth-of-type(3) {
	width: 100%;
	height: 324px;
	left: 50%;
	top: 325px;
	opacity: 0.8;
	transform: translateX(-50%);
	background-image: url(https://ucarecdn.com/7258c13b-37d7-4a16-a3d4-9b170af26ab4/layer3new.png);
	overflow-x: hidden;
}
.parallax.layer:nth-of-type(4) {
	width: 100%;
	height: 276px;
	left: 50%;
	top: 530px;
	opacity: 0.85;
	transform: translateX(-50%);
	background-image: url(https://ucarecdn.com/179da4ab-4ea6-4d9d-aed7-adc22eccd11e/layer2new.png);
	overflow-x: hidden;
}
.parallax.layer:nth-of-type(5) {
	width: 100%;
	height: 790px;
	left: 50%;
	top: 270px;
	transform: translateX(-50%);
	background-image: url(https://ucarecdn.com/b9bfe089-6faf-4f96-a7df-37bba7543552/layer1new.png);
	overflow-x: hidden;
}
.parallax.layer:nth-of-type(6) {
	width: 100%;
	height: 958px;
	left: 50%;
	top: 395px;
	transform: translateX(-50%);
	opacity: 0.9;
	background-image: url(https://ucarecdn.com/125b69a3-b60c-44fc-aece-f6a3829f9058/layer0new.png);
	overflow-x: hidden;
}

.bg-transparent {
	background: none;
}
.bg-white {
	background: white;
}
.spacer {
	height: 550px; /* define margin as you see fit */
}
.spacer-smol {
	height: 50px;
}
.blog-link {
	font-size: 0.9em;
}
.marketing p {
	font-size: 0.8em;
}
.mb-0 {
	margin-bottom: 0 !important;
}
img.nav-head {
	width: 150px;
}
.text-white {
	color: #fff !important;
}

@media (max-width: 667px) {
	.spacer {
		height: 400px;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes bouncing {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}
.headline {
	padding-top: 60px;
	text-align: center;
	position: relative;
}
.headline p {
	text-align: center;
	color: grey;
	font-weight: 700;
	font-size: 2rem;
	letter-spacing: 0.2rem;
	animation: fadeIn 1s;
	margin: 130px auto 24px;
}
.headline h1 {
	margin: 10px;
	font-size: 5.2rem;
	font-weight: 600;
	color: white;
	animation: fadeIn 1s;
}
.headline .scroll-down {
	animation: fadeIn 1s;
}
.headline span {
	font-size: 16px;
	color: #fefefe;
	font-weight: 300;
	background-color: rgba(68, 68, 68, 0.8);
	padding: 4px 16px 5px;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 20px;
}
.headline span.bouncing {
	animation: bouncing 1.5s infinite 1s;
}
.headline span.unvisible {
	transition: opacity 0.7s ease;
	opacity: 0;
}

.container {
	padding-left: 30px;
	padding-right: 30px;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.navbar-brand {
	text-transform: uppercase;
}
.navbar .nav {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.2rem;
}

.navbar-inverse {
	background-color: black;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	background-color: black;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	background-color: black;
}

.dropdown-menu {
	background-color: black;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: black;
}

.navbar-inverse {
	background-image: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-image: none;
}

.navbar-inverse {
	border-color: black;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
}

.navbar-inverse .navbar-brand:hover {
	color: #e62b1e;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #e62b1e;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.text-red {
	color: #e62b1e;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #e62b1e;
}

.dropdown-menu > li > a {
	color: #e62b1e;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #e62b1e;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
	border-top-color: #ffffff;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
	border-top-color: #ffffff;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
	border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
	border-bottom-color: #ffffff;
}

img.nav-head {
	margin: 5px;
	position: absolute;
}

.butt {
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 25px;
}

button {
	text-transform: uppercase;
}

button {
	position: relative;
	border: none;
	font-size: 2rem;
	transition: color 0.5s, transform 0.2s, background-color 0.2s;
	outline: none;
	font-weight: 600;
	letter-spacing: 0.3;
	border-radius: 3px;
	padding: 20px 35px;
	border: 10px solid transparent;
}
button:active {
	transform: translateY(3px);
}
button::after,
button::before {
	border-radius: 3px;
}

.shrink-border {
	background-color: transparent;
	color: white;
	width: 250px;
}
.shrink-border:hover {
	background-color: transparent;
	box-shadow: none;
	color: white;
}
.shrink-border::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #fafaff;
	transition: opacity 0.3s, border 0.3s;
}
.shrink-border:hover::before {
	opacity: 0;
}
.shrink-border::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 3px solid #960000;
	opacity: 0;
	z-index: -1;
	transform: scaleX(1.1) scaleY(1.3);
	transition: transform 0.3s, opacity 0.3s;
}
.shrink-border:hover::after {
	opacity: 1;
	transform: scaleX(1) scaleY(1);
}
.jumbotron {
	margin-bottom: 0;
}
.jumbotron h1 {
	font-weight: 600;
	font-size: 50px;
}

.jumbotron p.lead {
	font-weight: normal;
}

.mt-5 {
	margin-top: 5rem;
}

.speakers {
	background-color: black;
	height: 100%;
}

.jumbotron .container {
	max-width: 100%;
	font-size: 2.1rem;
}

.footer-bs {
	padding: 60px 40px;
	color: rgb(20, 20, 20);
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
	padding: 10px 25px;
}
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
	border-color: transparent;
}
.footer-bs .footer-brand h2 {
	margin: 0px 0px 10px;
}
.footer-bs .footer-brand p {
	font-size: 1em;
	color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-nav ul.pages {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-nav ul.pages li {
	padding: 5px 0px;
	letter-spacing: 2px;
}
.footer-bs .footer-nav ul.pages a {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	text-transform: uppercase;
}
.footer-bs .footer-nav ul.pages a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
.footer-bs .footer-nav h4 {
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-nav ul.list li {
	padding: 5px 0px;
}
.footer-bs .footer-nav ul.list a {
	color: rgba(255, 255, 255, 0.8);
}
.footer-bs .footer-nav ul.list a:hover {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.footer-bs .footer-social ul {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-social h4 {
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li {
	padding: 5px 4px;
	display: inline;
	font-size: 1.5em;
	margin-right: 10px;
}
.footer-bs .footer-social a {
	color: rgb(24, 24, 24);
}
.footer-bs .footer-social a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.footer-bs .footer-ns h4 {
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}
.footer-bs p {
	font-size: 1em;
	letter-spacing: 1px;
	color: rgb(20, 20, 20);
}

#Speaker_1 {
	background-color: white;
	color: black;
	font-family: 'Montserrat', sans-serif;
	min-height: 85vh;
}
#Speaker_2 {
	background-color: black;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 85vh;
}

.speaker-container {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: center;
}

.speaker-info-container,
.image-container {
	flex: 1 1 300px; /*  Stretching: */
	margin: 30px;
}
.ml-0 {
	margin-left: 0 !important;
}
.ml-10 {
	margin-left: 10em;
}
.speaker-info-container {
	align-self: center;
}

.speaker-picture-main,
.speaker-picture-main-1 {
	margin-left: 120px;
	width: 55vh;
	height: 75vh;
	background-size: cover;
	background-repeat: no-repeat;
	/*box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);*/
}

.speaker-picture-secondary,
.speaker-picture-secondary-right {
	margin-top: -500px;
	width: 40vh;
	height: 55vh;
	/*box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);*/
	margin-bottom: 70px;
}
.speaker-picture-secondary-right {
	margin-left: 35%;
}

.speaker-picture-main:hover,
.speaker-picture-main-1:hover {
	box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);
}

.picture {
	border: 5px solid white;
	background: url(images/Prasan.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);*/
}
.picture1 {
	background: url(images/Prasan1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);*/
}

.picture2 {
	border: 5px solid white;
	background: url(images/Akash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.picture3 {
	background: url(images/Akash1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.picture4 {
	border: 5px solid white;
	background: url(images/Medha.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.picture5 {
	background: url(images/Medha1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.picture6 {
	background: url(images/Sim.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);*/
}
.picture7 {
	background: url(images/sim1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);*/
}
.picture8 {
	background: url(images/Ritviz1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.picture9 {
	background: url(images/Ritviz2.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.picture10 {
	background: url(images/Jhanvi1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.picture11 {
	background: url(images/Jhanvi2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);*/
}

/* .speaker_info2,
.speaker2 {
    width: 50vh;
    font-size: 1.1em;
    color: white;
    text-align: justify;
}

.speaker1,
.speaker2 {
    font-size: 2.1rem;
}

.speaker_header {
    text-align: center;
    font-size: 3em;
    margin-left: 26vw;
    margin-top: 150px;
}
.speaker_header2 {
    margin: 70px 0;
    margin-bottom: 30px;
    color: white;
    font-size: 3em;
} */

.wrapper {
	--color: #1f242d;
	--color-invert: #ffffff;
	--clip-path: circle(55px at left);
	--clip-path-hover: circle(70px at left);
	--clip-path-clicked: circle(100vw at left);
	--duration: 0.4s;
	--timing-function: ease;
	display: -webkit-box;
	display: flex;
	align-items: center;
	width: 100%;
	left: 3vw;
}
.wrapper .video {
	height: 20vh;
	margin-left: 60px;
	overflow: hidden;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-clip-path: var(--clip-path);
	clip-path: var(--clip-path);
	-webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function),
		-webkit-clip-path var(--duration) var(--timing-function);
}
.wrapper .video video {
	position: fixed;
	background: #c4cbde;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.wrapper .text {
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	font-size: large;
	letter-spacing: 0.2px;
	opacity: var(--opacity, 1);
	-webkit-transition: opacity 0.3s var(--timing-function) 0.2s;
	transition: opacity 0.3s var(--timing-function) 0.2s;
}
.wrapper .text::before,
.wrapper .text::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: -1px;
	right: 25px;
	height: 0;
}
.wrapper .text::before {
	box-shadow: 26px 0 0 1px var(--color);
	right: var(--r, 100%);
	opacity: var(--opacity, 0);
	-webkit-transition: right 0.5s ease-in, opacity 0.1s linear;
	transition: right 0.5s ease-in, opacity 0.1s linear;
}
.wrapper .text::after {
	box-shadow: 26px 0 0 1px var(--color-invert);
	-webkit-clip-path: var(--clip-path);
	clip-path: var(--clip-path);
	-webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function),
		-webkit-clip-path var(--duration) var(--timing-function);
}
.wrapper .text > span::before,
.wrapper .text > span::after {
	content: attr(data-text);
	padding-left: 26px;
}
.wrapper .text > span::before {
	color: var(--color);
}
.wrapper .text > span::after {
	color: var(--color-invert);
	-webkit-clip-path: var(--clip-path);
	clip-path: var(--clip-path);
	-webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function),
		-webkit-clip-path var(--duration) var(--timing-function);
	position: absolute;
	left: 0;
}
.wrapper input {
	width: 220px;
	height: 40px;
	position: absolute;
	left: 30vw;
	right: 0;
	border-radius: 40px;
	z-index: 4;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}
.wrapper input:focus {
	outline: 0;
}
.wrapper input:hover ~ .video {
	-webkit-clip-path: var(--clip-path-hover);
	clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .video1 {
	-webkit-clip-path: var(--clip-path-hover);
	clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .text::before {
	--r: 25px;
	--opacity: 1;
}
.wrapper input:hover ~ .text::after {
	-webkit-clip-path: var(--clip-path-hover);
	clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .text > span::after {
	-webkit-clip-path: var(--clip-path-hover);
	clip-path: var(--clip-path-hover);
}
.wrapper input:checked {
	width: 100vw;
	height: 100vh;
	border-radius: 0;
}
.wrapper input:checked ~ .video {
	-webkit-clip-path: var(--clip-path-clicked);
	clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .video1 {
	-webkit-clip-path: var(--clip-path-clicked);
	clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text {
	--opacity: 0;
	-webkit-transition: opacity 0.3s var(--timing-function);
	transition: opacity 0.3s var(--timing-function);
}
.wrapper input:checked ~ .text::after {
	-webkit-clip-path: var(--clip-path-clicked);
	clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text > span::after {
	-webkit-clip-path: var(--clip-path-clicked);
	clip-path: var(--clip-path-clicked);
}
.wrapper2 {
	--color: #1f242d;
	--light-color: #f1f1f1;
	--color-invert: #cac3c3;
	--clip-path: circle(55px at left);
	--clip-path-hover: circle(70px at left);
	--clip-path-clicked: circle(100vw at left);
	--duration: 0.4s;
	--timing-function: ease;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	margin-left: 10px;
	transform: scale(0.75);
}
.wrapper2 .video {
	height: 20vh;
	margin-left: 0px;
	overflow: hidden;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-clip-path: var(--clip-path);
	clip-path: var(--clip-path);
	-webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function),
		-webkit-clip-path var(--duration) var(--timing-function);
}
.wrapper2 .video iframe {
	position: fixed;
	background: #c4cbde;
	top: 50%;
	left: 50%;
	min-width: 100vw;
	min-height: 100vh;
	width: 100vw;
	height: 100vh;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.wrapper2 .text {
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	font-size: large;
	letter-spacing: 0.2px;
	opacity: var(--opacity, 1);
	-webkit-transition: opacity 0.3s var(--timing-function) 0.2s;
	transition: opacity 0.3s var(--timing-function) 0.2s;
}
.wrapper2 .text::before,
.wrapper2 .text::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: -1px;
	right: 25px;
	height: 0;
}
.wrapper2 .text::before {
	box-shadow: 26px 0 0 1px var(--light-color);
	right: var(--r, 100%);
	opacity: var(--opacity, 0);
	-webkit-transition: right 0.5s ease-in, opacity 0.1s linear;
	transition: right 0.5s ease-in, opacity 0.1s linear;
}
.wrapper2 .text::after {
	box-shadow: 26px 0 0 1px var(--light-color);
	-webkit-clip-path: var(--clip-path);
	clip-path: var(--clip-path);
	-webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function),
		-webkit-clip-path var(--duration) var(--timing-function);
}
.wrapper2 .text > span::before,
.wrapper2 .text > span::after {
	content: attr(data-text);
	padding-left: 26px;
}
.wrapper2 .text > span::before {
	color: var(--light-color);
}
.wrapper2 .text > span::after {
	color: var(--light-color);
	-webkit-clip-path: var(--clip-path);
	clip-path: var(--clip-path);
	-webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: -webkit-clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function);
	transition: clip-path var(--duration) var(--timing-function),
		-webkit-clip-path var(--duration) var(--timing-function);
	position: absolute;
	left: 0;
}
.wrapper2 input {
	width: 220px;
	height: 40px;
	position: absolute;
	left: 14vw;
	right: 0;
	border-radius: 40px;
	z-index: 4;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}
.wrapper2 input:focus {
	outline: 0;
}
.wrapper2 input:hover ~ .video {
	-webkit-clip-path: var(--clip-path-hover);
	clip-path: var(--clip-path-hover);
}
.wrapper2 input:hover ~ .video1 {
	-webkit-clip-path: var(--clip-path-hover);
	clip-path: var(--clip-path-hover);
}
.wrapper2 input:hover ~ .text::before {
	--r: 25px;
	--opacity: 1;
}
.wrapper2 input:hover ~ .text::after {
	-webkit-clip-path: var(--clip-path-hover);
	clip-path: var(--clip-path-hover);
}
.wrapper2 input:hover ~ .text > span::after {
	-webkit-clip-path: var(--clip-path-hover);
	clip-path: var(--clip-path-hover);
}
.wrapper2 input:checked {
	width: 100vw;
	height: 100vh;
	border-radius: 0;
}
.wrapper2 input:checked ~ .video {
	-webkit-clip-path: var(--clip-path-clicked);
	clip-path: var(--clip-path-clicked);
}
.wrapper2 input:checked ~ .video1 {
	-webkit-clip-path: var(--clip-path-clicked);
	clip-path: var(--clip-path-clicked);
}
.wrapper2 input:checked ~ .text {
	--opacity: 0;
	-webkit-transition: opacity 0.3s var(--timing-function);
	transition: opacity 0.3s var(--timing-function);
}
.wrapper2 input:checked ~ .text::after {
	-webkit-clip-path: var(--clip-path-clicked);
	clip-path: var(--clip-path-clicked);
}
.wrapper2 input:checked ~ .text > span::after {
	-webkit-clip-path: var(--clip-path-clicked);
	clip-path: var(--clip-path-clicked);
}
body .socials {
	position: fixed;
	display: block;
	left: 20px;
	bottom: 20px;
	z-index: 9999;
}
body .socials > a {
	display: block;
	width: 30px;
	opacity: 0.2;
	-webkit-transform: scale(var(--scale, 0.8));
	transform: scale(var(--scale, 0.8));
	-webkit-transition: -webkit-transform 0.3s
		cubic-bezier(0.38, -0.12, 0.24, 1.91);
	transition: -webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
	transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
	transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91),
		-webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}
body .socials > a:hover {
	--scale: 1;
}

@media (min-width: 768px) {
	.footer-bs .footer-nav,
	.footer-bs .footer-social,
	.footer-bs .footer-ns {
		border-left: solid 1px rgba(255, 255, 255, 0.1);
	}
}

@media (min-width: 1920px) {
	.container {
		width: 1600px;
	}
}
@media screen and (max-width: 768px) {
	.parallax.floor {
		width: 100%;
	}
	.parallax.layer:nth-of-type(2) {
		width: 100%;
	}
	.parallax.layer:nth-of-type(3) {
		width: 100%;
	}
	.parallax.layer:nth-of-type(4) {
		width: 100%;
	}
	.parallax.layer:nth-of-type(5) {
		width: 100%;
	}
	.parallax.layer:nth-of-type(6) {
		width: 100%;
	}
}
@media (max-width: 1366px) {
	.speaker-info-container,
	.image-container {
		margin-left: 40px;
	}
	.speaker-picture-secondary,
	.speaker-picture-secondary-right {
		margin-top: -380px;
		margin-bottom: 70px;
	}
	.speaker-picture-main {
		margin-left: 120px;
	}
	.speaker-picture-main-1 {
		margin-left: 0px;
	}
	.speaker-picture-secondary-right {
		margin-top: -300px;
	}
}
@media (max-width: 768px) {
	.reverse {
		flex-direction: column-reverse;
		flex-wrap: nowrap;
	}

	/*.speaker-info-container,
    .image-container {
        margin: 5px;
        margin-top: 30px;
        margin-left: 50px;
    }*/
	.image-container {
		margin-bottom: 0px;
	}
	.speaker-info-container {
		margin-top: 10px;
	}
	.speaker-picture-secondary,
	.speaker-picture-secondary-right {
		margin-top: -33vh;
		margin-bottom: 40px;
		width: 20vh;
		height: 30vh;
	}
	.speaker-picture-main {
		margin-left: 20px;
		width: 34vh;
		height: 50vh;
	}
	.speaker-picture-main-1 {
		margin-left: 40px;
		width: 34vh;
		height: 50vh;
	}
	.speaker-picture-secondary-right {
		margin-top: -33vh;
	}
	.speaker-picture-secondary-right {
		margin-left: -3%;
	}
	.ml-0 {
		margin-left: 20px !important;
	}
}
:root {
	--src: url(https://images.unsplash.com/photo-1554620121-59e7f3f6e3a4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy);
	--size: 50vmin;
	--space: 8vmin 3vmin;
	--duration: 300ms;
	--ease-out: cubic-bezier(0.25, 1, 0.5, 1);
	--bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.Prev_events {
	display: grid;
	place-items: center;
	grid-gap: var(--space);
	margin: 0 auto;
	padding: var(--space);
	color: white;
	background-color: black;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.Prev_events h1 {
	text-align: center;
}

.promo {
	position: relative;
	cursor: pointer;
	width: var(--size);
	height: var(--size);
}

.title {
	--font-size: calc(var(--size) / 8);

	display: -webkit-box;

	display: flex;
	-webkit-box-align: center;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: var(--font-size);
	font-weight: 700;
	line-height: 1.2;
	-webkit-transform: translate(-10%, -50%);
	transform: translate(-10%, -50%);
	-webkit-transition: -webkit-transform var(--duration) var(--ease-out);
	transition: -webkit-transform var(--duration) var(--ease-out);
	transition: transform var(--duration) var(--ease-out);
	transition: transform var(--duration) var(--ease-out),
		-webkit-transform var(--duration) var(--ease-out);
}

.title a {
	text-decoration: none;
	color: white;
}

.title::after {
	content: attr(data-cta);
	display: inline-block;
	margin-left: 1.5vmin;
	font-size: calc(var(--font-size) / 3.25);
	font-weight: 400;
	letter-spacing: 0.125vmin;
	opacity: 0;
	-webkit-transform: translateX(-25%);
	transform: translateX(-25%);
	-webkit-transition: opacity var(--duration) var(--ease-out),
		-webkit-transform var(--duration) var(--ease-out);
	transition: opacity var(--duration) var(--ease-out),
		-webkit-transform var(--duration) var(--ease-out);
	transition: transform var(--duration) var(--ease-out),
		opacity var(--duration) var(--ease-out);
	transition: transform var(--duration) var(--ease-out),
		opacity var(--duration) var(--ease-out),
		-webkit-transform var(--duration) var(--ease-out);
}

.image-wrapper {
	width: var(--size);
	height: var(--size);
	overflow: hidden;
	-webkit-clip-path: polygon(
		100% 0,
		100% 50%,
		100% 100%,
		0% 100%,
		0 50%,
		0% 0%
	);
	clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
	-webkit-transition: -webkit-transform var(--duration) var(--ease-out),
		-webkit-clip-path var(--duration) var(--ease-out);
	transition: -webkit-transform var(--duration) var(--ease-out),
		-webkit-clip-path var(--duration) var(--ease-out);
	transition: transform var(--duration) var(--ease-out),
		clip-path var(--duration) var(--ease-out);
	transition: transform var(--duration) var(--ease-out),
		clip-path var(--duration) var(--ease-out),
		-webkit-transform var(--duration) var(--ease-out),
		-webkit-clip-path var(--duration) var(--ease-out);
}

.image-wrapper img {
	position: relative;
	width: 120%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-transform: translateX(-10%);
	transform: translateX(-10%);
	-webkit-transition: -webkit-transform var(--duration) var(--ease-out);
	transition: -webkit-transform var(--duration) var(--ease-out);
	transition: transform var(--duration) var(--ease-out);
	transition: transform var(--duration) var(--ease-out),
		-webkit-transform var(--duration) var(--ease-out);
}

.image-wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--overlay-color);
	mix-blend-mode: multiply;
	opacity: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: opacity var(--duration) var(--ease-out);
	transition: opacity var(--duration) var(--ease-out);
}

.promo:hover img {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.promo:hover .image-wrapper {
	-webkit-clip-path: polygon(
		75% 0%,
		100% 50%,
		75% 100%,
		0% 100%,
		25% 50%,
		0% 0%
	);
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
	-webkit-transform: translateX(15%);
	transform: translateX(15%);
	-webkit-transition-timing-function: var(--bounce-out);
	transition-timing-function: var(--bounce-out);
}

.promo:hover .title {
	-webkit-transform: translate(5%, -50%);
	transform: translate(5%, -50%);
	-webkit-transition-timing-function: var(--bounce-out);
	transition-timing-function: var(--bounce-out);
}

.promo:hover .title::after {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition-timing-function: var(--bounce-out);
	transition-timing-function: var(--bounce-out);
}

.promo:hover .image-wrapper::after {
	opacity: 1;
}
