body
{
	background-color: black;
}

#Speaker_1
{
	background-color: white;
	font: black;
	font-family: 'Montserrat', sans-serif;
	height: 85vh;
}
#Speaker_2
{
	background-color: black;
	font: black;
	font-family: 'Montserrat', sans-serif;
	height: 85vh;
}
.picture
{
	margin: 20px;
	margin-top:25px;
	margin-left: 80px;
	width: 55vh;
	height: 75vh;
	background: url(images/Prasan.jpg);
	box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);
}
.picture1
{
	margin-top: -25vh;
    margin-left: 220px;
    width: 40vh;
    height: 55vh;
    background: url(images/Prasan1.jpg);
    background-size: cover;
    box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);
}
.speaker_info, .speaker1
{
	width: 100vh;
	font-size: 1.1rem;
	margin-left: 500px;
	text-align: justify;
}

.picture2
{
	margin: 20px;
    margin-top: -350px;
    margin-left: 950px;
    width: 55vh;
    height: 75vh;
    border: 5px solid white;
	background: url(images/Akash.jpg);
	box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);
}
.picture3
{
	margin-left: 800px;
    margin-top: -420px;
    width: 40vh;
    height: 55vh;
    background: url(images/Akash1.jpg);
    background-size: cover;
    box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);
}
.picture4
{
	margin: 20px;
    margin-top: -350px;
    margin-left: 950px;
    width: 55vh;
    height: 75vh;
    border: 5px solid white;
	background: url(images/Medha.jpg);
	box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);
}
.picture5
{
	margin-left: 800px;
    margin-top: -420px;
    width: 40vh;
    height: 55vh;
    background: url(images/Medha1.jpg);
    background-size: cover;
    box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);
}
.picture6
{
	margin: 20px;
    margin-top: -350px;
    margin-left: 950px;
    width: 55vh;
    height: 75vh;
    border: 5px solid white;
	background: url(images/Sim.jpg);
	box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);
}
.picture7
{
	margin-left: 800px;
    margin-top: -420px;
    width: 40vh;
    height: 55vh;
    background: url(images/Sim1.jpg);
    background-size: cover;
    box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);
}
.picture8
{
	margin: 20px;
	margin-top:25px;
	margin-left: 80px;
	width: 55vh;
	height: 75vh;
	background: url(images/Prasan.jpg);
	box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);
}
.picture9
{
	margin-top: -25vh;
    margin-left: 220px;
    width: 40vh;
    height: 55vh;
    background: url(images/Prasan1.jpg);
    background-size: cover;
    box-shadow: -13px 11px 20px 1px rgba(0, 0, 0);
}
.speaker_info2, .speaker2
{
	width: 100vh;
	font-size: 1.1rem;
	margin-left: 80px;
	color: white;
	text-align: justify;
}

.speaker1, .speaker2
{
	font-size: 2.1rem;
}

.speaker_header
{
	margin: 0px;
	padding:20px;
	text-align: center;
	font-size: 3rem;
}
.speaker_header2
{
	margin:70px;
	margin-bottom:30px;
	padding:20px;
	color: white;
	text-align: center;
	font-size: 3rem;
}

.navbar .navbar-inverse .navbar-fixed-top .bs-docs-nav{
  width: 100vw !important;
}

.wrapper {
  --color: #1F242D;
  --color-invert: #ffffff;
  --clip-path: circle(55px at left);
  --clip-path-hover: circle(70px at left);
  --clip-path-clicked: circle(100vw at left);
  --duration: .4s;
  --timing-function: ease;
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
}
.wrapper .video {
  height: 20vh;
  margin-left: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
}
.wrapper .video video {
  position: fixed;
  background: #c4cbde;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.wrapper .text {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: large;
  letter-spacing: .2px;
  opacity: var(--opacity, 1);
  -webkit-transition: opacity 0.3s var(--timing-function) 0.2s;
  transition: opacity 0.3s var(--timing-function) 0.2s;
}
.wrapper .text::before, .wrapper .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  right: 25px;
  height: 0;
}
.wrapper .text::before {
  box-shadow: 26px 0 0 1px var(--color);
  right: var(--r, 100%);
  opacity: var(--opacity, 0);
  -webkit-transition: right .5s ease-in, opacity .1s linear;
  transition: right .5s ease-in, opacity .1s linear;
}
.wrapper .text::after {
  box-shadow: 26px 0 0 1px var(--color-invert);
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
}
.wrapper .text > span::before, .wrapper .text > span::after {
  content: attr(data-text);
  padding-left: 26px;
}
.wrapper .text > span::before {
  color: var(--color);
}
.wrapper .text > span::after {
  color: var(--color-invert);
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
  position: absolute;
  left: 0;
}
.wrapper input {
  width: 220px;
  height: 40px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 40px;
  z-index: 4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.wrapper input:focus {
  outline: 0;
}
.wrapper input:hover ~ .video {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .video1 {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .text::before {
  --r: 25px;
  --opacity: 1;
}
.wrapper input:hover ~ .text::after {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .text > span::after {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}
.wrapper input:checked {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.wrapper input:checked ~ .video {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .video1 {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text {
  --opacity: 0;
  -webkit-transition: opacity 0.3s var(--timing-function);
  transition: opacity 0.3s var(--timing-function);
}
.wrapper input:checked ~ .text::after {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text > span::after {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}
.wrapper2 {
  --color: #1F242D;
  --color-invert: #ffffff;
  --clip-path: circle(55px at left);
  --clip-path-hover: circle(70px at left);
  --clip-path-clicked: circle(100vw at left);
  --duration: .4s;
  --timing-function: ease;
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  margin-left: -450px;
}
.wrapper2 .video {
  height: 20vh;
  margin-left: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
}
.wrapper2 .video video {
  position: fixed;
  background: #c4cbde;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.wrapper2 .text {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: large;
  letter-spacing: .2px;
  opacity: var(--opacity, 1);
  -webkit-transition: opacity 0.3s var(--timing-function) 0.2s;
  transition: opacity 0.3s var(--timing-function) 0.2s;
}
.wrapper2 .text::before, .wrapper2 .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  right: 25px;
  height: 0;
}
.wrapper2 .text::before {
  box-shadow: 26px 0 0 1px var(--color);
  right: var(--r, 100%);
  opacity: var(--opacity, 0);
  -webkit-transition: right .5s ease-in, opacity .1s linear;
  transition: right .5s ease-in, opacity .1s linear;
}
.wrapper2 .text::after {
  box-shadow: 26px 0 0 1px var(--color-invert);
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
}
.wrapper2 .text > span::before, .wrapper2 .text > span::after {
  content: attr(data-text);
  padding-left: 26px;
}
.wrapper2 .text > span::before {
  color: var(--color);
}
.wrapper2 .text > span::after {
  color: var(--color-invert);
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
  position: absolute;
  left: 0;
}
.wrapper2 input {
  width: 220px;
  height: 40px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 40px;
  z-index: 4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.wrapper2 input:focus {
  outline: 0;
}
.wrapper2 input:hover ~ .video {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}
.wrapper2 input:hover ~ .video1 {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}
.wrapper2 input:hover ~ .text::before {
  --r: 25px;
  --opacity: 1;
}
.wrapper2 input:hover ~ .text::after {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}
.wrapper2 input:hover ~ .text > span::after {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}
.wrapper2 input:checked {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.wrapper2 input:checked ~ .video {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}
.wrapper2 input:checked ~ .video1 {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}
.wrapper2 input:checked ~ .text {
  --opacity: 0;
  -webkit-transition: opacity 0.3s var(--timing-function);
  transition: opacity 0.3s var(--timing-function);
}
.wrapper2 input:checked ~ .text::after {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}
.wrapper2 input:checked ~ .text > span::after {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}
body .socials {
  position: fixed;
  display: block;
  left: 20px;
  bottom: 20px;
  z-index: 9999;
}
body .socials > a {
  display: block;
  width: 30px;
  opacity: .2;
  -webkit-transform: scale(var(--scale, 0.8));
          transform: scale(var(--scale, 0.8));
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
  transition: -webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91), -webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}
body .socials > a:hover {
  --scale: 1;
}